
.header {
    position: relative;
    background: url('images/bgh.png') no-repeat center/cover;
    height: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; 
    overflow: hidden;
}


.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(265, 265, 265, 0.8); 
  
}

.header-content {
    position: relative; 
    z-index: 1;
}

header {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #f0f0f0;
}

header h1 {
    color: #4a6741;
    
    
    letter-spacing: 2px;
}

header h2 {
    color: #3b6c27;
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: -10px;
    border-bottom: none;
    font-style: italic;
}

header p {
    color: #4e4a4a;
    
}
.nav-links {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
    padding: 10px 20px;
}

.nav-links a {
    color: rgb(10, 9, 9);
    text-decoration: none;
    padding: 10px 15px;
}


nav {
    margin: -10px 0;
}

nav a {
    color: #4a6741;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #71a95a;
    border-bottom: 2px solid #71a95a;
}
ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
    padding-left: 5px;
}

li::before {
    content: "•";
    color: #71a95a;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
li a {
    color: #71a95a;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

a:hover {
    color: #4a6741;
    text-decoration: underline;
}

