<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt a Pet | Pukaar Animal Shelter</title>
    <link rel="stylesheet" href="./backend/static/adopt.css">
    <link rel="stylesheet" href="./backend/static/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<header class="header">
    <div class="header-content">
    <h1>PUKAAR</h1>
    <h2>People United to Kindle Animal Aid and Rehabilitation</h2>
    <p>Rescuing, rehabilitating, and rehoming animals in need.</p>
    </div>
    <nav>
        <ul class="nav-links">
        <li><a href="/">Home</a></li> 
        <li><a href="/babies">Our Babies</a></li> 
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/Our_Work">Our Work</a></li> 
        <li><a href="/Help_Us">Donate</a></li> 
        <li><a href="/adopt">Adopt</a></li>
        <li><a href="/faq">FAQs</a></li>
        </ul>
    </nav>
</header>
<body>


<main>
    <div class="pet-container">
        {% for pet in pets %}
        <div class="pet-card">
            <img src="{{ url_for('static', filename=pet.image_path) }}" alt="Pet Image">

            <h2>{{ pet.pet_name }}</h2>
            <p><strong>Age:</strong> {{ pet.age }}</p>
            <p><strong>Gender:</strong> {{ pet.gender }}</p>
            <p><strong>Breed:</strong> {{ pet.breed }}</p>
            <p>{{ pet.description }}</p>
            <a href="https://forms.gle/your-google-form-link" target="_blank">
                <button>Adopt</button>
            </a>
        </div>
        {% endfor %}
    </div>

    <p class="guidelines-note">
        * To know about the adoption process, please read the <a href="/guidelines">Guidelines</a>.
    </p>
</main>


<footer>
    <p>&copy; 2022 Pukaar Animal Shelter</p>
</footer>

</body>
</html>
