<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Our Babies - Pukaar</title>
    <link rel="stylesheet" href="../static/babies.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<header class="header">
    <div class="header-content">
    <h1>PUKAAR</h1>
    <h2>People United to Kindle Animal Aid and Rehabilitation</h2>
    <p>Rescuing, rehabilitating, and rehoming animals in need.</p>
    </div>
    <nav>
        <ul class="nav-links">
        <li><a href="/">Home</a></li> 
        <li><a href="/babies">Our Babies</a></li> 
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/Our_Work">Our Work</a></li> 
        <li><a href="/Help_Us">Donate</a></li> 
        <li><a href="/adopt">Adopt</a></li>
        <li><a href="/faq">FAQs</a></li>
        </ul>
    </nav>
</header>
<body>
   
    
    <h1>🐾 Meet Our Babies – Success Stories!</h1>
    <p>At Pukaar, every rescued animal has a story of hope, resilience, and love. From abandoned puppies to injured kittens, we have witnessed incredible transformations. Their journeys remind us that every life deserves a second chance.Here are some of the success stories we want to share with. </p>


    <section class="stories">
        <div class="story">
            <img src="{{ url_for('static', filename='images/Veer.jpeg') }}" alt="Veer">
            <div class="story-content">
                <h2>🐾 Veer</h2>
                <p>Veer was rescued on 21st of may 2023 unexpectedly. We were feeding some of the dogs near our house where a female had given birth to puppies. Veer was one of them but he was the tiniest, weakest of all. We knew something is not good with him as he was 2 months old but looking at him it was difficult to say because he didn’t looked like a 2 months old puppy. We took him home got vet visit and got to know he was underdeveloped that’s the reason he was like the way he was.
                    It was difficult to say if he would survive his head was wobbling, his stomach full of worms , eyes filled with discharge but he not only survived but ruled our hearts. </p>
                <a href="https://www.instagram.com/stories/highlights/18022976392541711/?hl=en">Go through his journey</a> 
                
            </div>
        </div>

        <div class="story">
            <img src="{{ url_for('static', filename='images/veera1.jpeg') }}" alt="Veera" style="height: 350px;">
            <div class="story-content">
                <h2>🐾 Veera</h2>
                <p>Veera was someone's pet dog. She was found in a comatose state on our way to another rescue. Her front leg was all torned. Was critical for 2-3 days. She was soo dehydrated that it was tough for doctor's to say whether she'll survive or not . But our veera didn't give up and stood strong.</p>
                <a href="https://www.instagram.com/stories/highlights/17977383862629585/?hl=en">Go through her journey</a>  
                <a href="https://www.instagram.com/p/CjriqB_I2pd/?hl=en">  Short reel</a>
            </div>
        </div>

        <div class="story">
            <img src="{{ url_for('static', filename='images/Sahiba.png') }}" alt="Sahiba">
            <div class="story-content">
                <h2>🐾 Sahiba</h2>

                <p>Sahiba was rescued in 2022 in a very miserable condition in a dumpyard. For almost 25 days she was admitted in hospital. She had tick fever , jaundice , infection in her uterus etc. But she fought all that and now she is a healthy loving and playing baby. </p>
                <a href="https://www.instagram.com/stories/highlights/17936531711255047/?hl=en">Go through her journey</a>   
                <a href="https://www.instagram.com/p/C-MqZZxyRQr/?hl=en">   Short reel</a>
            </div>
        </div>
        <div class="story">
            <img src="{{ url_for('static', filename='images/baloo.jpeg') }}" alt="Baloo">
            <div class="story-content">
                <h2>🐾 Baloo</h2>
                <p>Baloo was an abandoned dog found near railway track hit by a train. Her leg got infected due to which we had to amputate it.She was a bit aggressive in the  beginning but we managed to gain her trust and now she is the sweetest.</p>
                <a href="https://www.instagram.com/stories/highlights/17944016591509982/?hl=en">Go through her journey</a>   
                <a href="https://www.instagram.com/p/Cmie5LVhG6I/?hl=en">   Short reel</a>

            </div>
        </div>
        <div class="story">
                <img src="{{ url_for('static', filename='images/Mishty.png') }}" alt="Mishty">
                <div class="story-content">
                    <h2>🐾 Mishty</h2>
                    <p>Mishty was a 90% blind cat found somewhere near a jungle.She had cancer in both her ears still she managed to live for a long time with us peacefully.</p>
                    <a href="https://www.instagram.com/stories/highlights/17990232620162929/?hl=en">Go through her journey</a>   
                    <a href="https://www.instagram.com/p/C4RsVsDJEWc/?hl=en">Short reel</a>
                </div>
        </div>
        <div class="story">
            <img src="{{ url_for('static', filename='images/') }}" alt="Farishta">
            <div class="story-content">
                <h2>🐾 Farishta </h2>
                <p>We found him in a very pathetic condition at Vcare pet clinic dehradun. some kind people brought him there he was having fits and was in a comatose state. Later the vets diagnosed him with Malena. He was continuously passing black stools and vomiting black . The vets put him on drips (twice daily) till recovery.We started the necessary treatment but his condition got worse. he was on drips for about 20 days and didnt eat anything. the vets had already given up on him. but miraculously one day after 25 days of not eating anything, he started eating and now gradually he has become the most notorious and the most chatora dog in our family.</p>
                <a href="https://www.instagram.com/stories/highlights/18045063550344871/?hl=en">Go through his journey</a>  
                <a href="https://www.instagram.com/p/CjR-nRfoJrG/?hl=en">  Short reel</a>
            </div>
        </div>
       
    </section>
    <footer>
       
        <h4>Contact Us:</h4>
        <p>12 Rameshwar lane, Near Jhanda Sahib Talab, Dehradun, Uttarakhand</p>
        <p>Phone No.: 7055731213 , 8218503853</p>
        <div class="social-links">
            <a href="https://www.instagram.com/pukaar._/" target="_blank" style="color: pink; font-size: 22px;">
                <i class="fab fa-instagram"></i> Instagram
            </a>
        </div>
        <p>&copy; 2022 Pukaar Animal Shelter</p>
    </footer>
    <button id="backToTop" onclick="scrollToTop()">⬆ Back to Top</button> 

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
